.footer{
    background-color: #343434;  
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.footer--name{
    font-size: 17px;
}

.footer--motive{
    font-size: 30px;
    font-style: italic;
}


.footer--social--link__instagram{
    text-decoration: underline;

}