.body{
    background-color: #5A3939;
    font-family: 'Sanchez', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__navmenu{
    color: #F0E3E3;
    text-decoration: none;
    text-transform: uppercase;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 1300px;
    margin: 0 auto;
    /* border: 1px solid #000; */
}

a{
    color:inherit;
    text-decoration: inherit;
}

ul{
    list-style-type: inherit;
    margin: 0;
    padding: 0;
}

.navmenu__links{
    display: flex;
    font-size: 20px;
}

.navmenu__links li{
    margin: 40px;
    /* padding: 10px; */
}

.navmenu__links a{
    padding: 10px;
}

.header__navmenu a:hover{
    cursor: pointer;
    background-color: #FF8D8D;
    border-radius: 25px ;
    box-shadow: -4px -4px 40px rgba(87,82,82, 100%), 4px 4px 10px rgba(255,255,255, 22%);

}

.navmenu__logo a:hover{
    background-color: transparent;
    box-shadow: none;
}

.navmenu__links li:last-child a{
    border: 1px solid #FF8D8D;
    background: #FF8D8D;
    border-radius: 25px ;
}

.navmenu__links li:last-child a:hover{
    background: rgba(255,141,141,50%);
    border: 1px solid rgba(255,141,141,50%);
}

.navmenu__searchBar{
    margin-top: 30px;
}

.navmenu__searchitem{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar__input{
    font-size: 17px;
    border-radius: 20px;
    padding: 10px;
    border: 0;
    width: 700px;
    margin-left: 30px;
}

.searchBar__searchButton{
    padding: 5px;
    margin: 0;
    border-radius: 20px;
    position: relative;
    right: 45px;
    background-color: #FF8D8D;
    border: 0;
    color: #fff;
}

.searchBar__searchButton:hover{
    background-color: #be6969;

}