



.login{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    /* width: 1000px; */
    margin: 0 auto;
    /* border: 1px solid #000; */
}
.login--left{
    background-color: #FFF;
    padding: 30px;
}

.login--left--form{
    width: 70%;
    margin: 0 auto;
}

.login--left--head{
    font-size: 50px;
}

.login--left--text, .login--left--password{
    border: 0;
    border-bottom: 1px solid #000;
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}

.login--left--forget{
    color: #4F769A;
    font-size: 14px;
    float: right;
}



.login--left--button{
    background-color: #F0E3E3;
    border: 0;
    width: 100%;
    border-radius: 23px;
    font-size: 26px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 4px 4px 16px rgba(87,82,82, 26%), -4px -4px 20px rgba(235,222,222, 100%);
}
.link__button{
    display: block;
    text-align: center;
    width: 95%;
}

.login--left--button:hover{
    /* background-color: #D1C9C9; */
    cursor: pointer;
    box-shadow: 0px 0px 30px rgba(87,82,82, 20%), 0px 0px 50px rgba(235,222,222, 100%);
}

.login--left--phrase{
    margin-top: 90px;
    text-align: center;
    margin-bottom: 0;
}

.login--right{
    background-color: #F0E3E3;
    padding: 30px;
}

.login--right--circle{
    padding: 80px;
    border-radius: 100%;
    box-shadow: 4px 4px 16px rgba(87,82,82, 26%), -4px -4px 40px rgba(255,255,255, 100%);

}

.login--right--circle:hover{
    box-shadow: none;
    box-shadow: inset 4px 4px 22px rgba(87,82,82, 26%), inset -4px -4px 40px rgba(255,255,255, 100%);
}


