.body{
    box-sizing: border-box;
}

.main{
    background-color: #FBF0EF;
    width: 70%;
    margin: 0 auto;
}
.info{
    width: 70%;
    margin: 0 auto;
    display: flex;
    padding: 70px 0;
    justify-content: space-between;
}

.info__image{

}


.info__image--border{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    box-shadow: 4px 4px 16px rgba(87,82,82, 26%), -4px -4px 40px rgba(255,255,255, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.info__image--border:hover, .info__category:hover, .info__music:hover{
    box-shadow:inset -2px -2px 16px rgba(87,82,82, 26%),inset 4px 4px 20px rgba(255,255,255, 100%);

}

.info__main{
    list-style-type: none;
    align-self: center;
}

.info__main__list{
    display: flex;
    flex-direction: column;
}

.info__main__name{
    font-size: 56px;
}

.info__main__category{
    margin-top: 40px;
    font-size: 26px;
}

.info__main--flex{
    display: flex;
    justify-content: space-around;
    list-style-type:initial;
    flex-wrap: wrap;
}



.info__category, .info__music{
    box-shadow: 4px 4px 16px rgba(87,82,82, 26%), -4px -4px 40px rgba(255,255,255, 100%);
    list-style-type: none;
    width: 250px;
    text-align: center;
    border-radius: 23px;
    padding: 30px;
}

.category__header, .music__header{
    font-size: 40px;
    padding: 0;
}

.category__item, .music__item{
    padding: 10px;
    font-size: 26px;
}

.category__item:hover, .music__item:hover{
    text-decoration: underline;
    cursor: pointer;
}